<!DOCTYPE html>
<html lang="en">

{{ partial "header.html" . }}

<body class="light-version">

    <!-- ##### Header Area Start ##### -->
    <nav class="navbar navbar-expand-lg navbar-white fixed-top" id="banner">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="#">
            venclave
            </a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- ##### Welcome Area Start ##### -->
    
    <section class="hero-section ai2 relative" id="home">
       <div class="overlay"></div>
        <!-- Hero Content -->
        <div class="hero-section-content">
            
            <div class="container ">
                <div class="row align-items-center">
                    <!-- Welcome Content -->
                    <div class="col-12 col-lg-6 col-md-12">
                        <div class="welcome-content text-left">

                            <h3 class="special-head g-text">
                            Cybersecurity Services & Solutions
                            </h3>

                            <h1 class="bold w-text wow fadeInUp" data-wow-delay="0.2s">
                            Cybersecurity made obtainable to all.
                            </h1>

                            <p class="wow fadeInUp g-text" data-wow-delay="0.3s">
                            We provide expert services based on certifications & years of experience to various use cases, technical or otherwise.
                            </p>

                            <div class="info-btn-group fadeInUp">
                                <a href="#contact" class="btn info-btn mr-3">
                                Contact us to see how we can help
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-12">
                        <img src="/img/infra.gif" class="mt-s img-responsive d-none d-sm-block d-xs-block" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Welcome Area End ##### -->

    <div class="clearfix"></div>

    <section class="features section-padding-0-0 mt-5">

        <div class="container">
            <div class="section-heading text-center">
                <h2 class="d-blue bold wow fadeInUp" data-wow-delay="0.3s">
                Solution Overview
                </h2>
                <p class="wow fadeInUp" data-wow-delay="0.4s">
                Discover how we can enable your company to function at its peak. 
                </p>
            </div>

            <div class="row align-items-center">
                <div class="service-img-wrapper how col-lg-6 col-md-12 col-sm-12">
                    <div class="image-box">
                        <img src="/img/server.png" class="center-block img-responsive phone-img" alt="">
                    </div>
                </div>

                <div class="services-column col-lg-6 col-md-12 col-xs-12">

                    <!--Services Block Four-->
                    <div class="services-block-four">
                        <div class="inner-box">
                            <div class="icon-img-box">
                                <img src="/img/y1.png" alt="" class="img-responsive d-none d-sm-block d-xs-block"/>
                            </div>
                            <h3>
                            Technical Input
                            </h3>
                            <div class="text">
                            We can provide technical input during your key product phase to ensure cybersecurity is taken into account.
                            </div>
                        </div>
                    </div>

                    <!--Services Block Four-->
                    <div class="services-block-four">
                        <div class="inner-box">
                            <div class="icon-img-box">
                                <img src="/img/y2.png" alt="" class="img-responsive d-none d-sm-block d-xs-block"/>
                            </div>
                            <h3>
                            Security Review
                            </h3>
                            <div class="text">
                            White, gray or blackbox penetration testing or code reviews can iron out any potential risk before release.
                            </div>
                        </div>
                    </div>
                    
                    <!--Services Block Four-->
                    <div class="services-block-four" style="margin-bottom:0">
                        <div class="inner-box">
                            <div class="icon-img-box">
                                <img src="/img/y3.png" alt="" class="img-responsive d-none d-sm-block d-xs-block"/>
                            </div>
                            <h3>
                            Solution Implementation
                            </h3>
                            <div class="text">
                            Based on expertise we can advise or develop the right tool for the job. Phishing, Monitoring, SDLC, Scanning, ...
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </section>

    <!-- ##### Our Services Area Start ##### -->
    <section class="our_services_area section-padding-100-0 " id="services">
        <div class="container">
            
            <div class="section-heading text-center">
                <h2 class="d-blue bold fadeInUp" data-wow-delay="0.3s">
                Service Showcase
                </h2>
                <p class="fadeInUp" data-wow-delay="0.4s">
                Let's give you an idea of what we are capable of.
                </p>
            </div>
                

            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-left mb-100 wow fadeInUp" data-wow-delay="0.2s">
                        <!-- Icon -->
                        <div class="service_icon max">
                            <img src="/img/s1.png" alt="">
                        </div>
                        <h6 class="d-blue bold">Server Hardening</h6>
                        <p>
                        We can trim down attack surface by applying security best practices and industry baselines to Linux, Windows and macOS client and server systems.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-left mb-100 wow fadeInUp" data-wow-delay="0.3s">
                        <!-- Icon -->
                        <div class="service_icon max">
                            <img src="/img/s2.png" alt="">
                        </div>
                        <h6 class="d-blue bold">Threat Assessment</h6>
                        <p>
                        Analysing theoretical threats or reverse engineering phishing or malware attacks on your company to do risk analysis and prepare appropriate mitigations.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-left mb-100 wow fadeInUp" data-wow-delay="0.4s">
                        <!-- Icon -->
                        <div class="service_icon max">
                            <img src="/img/s3.png" alt="">
                        </div>
                        <h6 class="d-blue bold">Cloud Native Security</h6>
                        <p>Cloud native security via continuous monitoring and GitOps via Infrastructure-as-Code policy enforcement for e.g. Kubernetes or raw Docker/podman.</p>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-left mb-100 wow fadeInUp" data-wow-delay="0.2s">
                        <!-- Icon -->
                        <div class="service_icon max">
                            <img src="/img/s4.png" alt="">
                        </div>
                        <h6 class="d-blue bold">Threat Intelligence</h6>
                        <p>
                        Stay up to speed on relevant threats, vulnerabilities or exploits that could impact your organisation and employees.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-left mb-100 wow fadeInUp" data-wow-delay="0.3s">
                        <!-- Icon -->
                        <div class="service_icon max">
                            <img src="/img/s5.png" alt="">
                        </div>
                        <h6 class="d-blue bold">Penetration Testing</h6>
                        <p>
                        Test your systems and applications for any possible vulnerabilities that would otherwise affect your production systems.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-left mb-100 wow fadeInUp" data-wow-delay="0.4s">
                        <!-- Icon -->
                        <div class="service_icon max">
                            <img src="/img/s6.png" alt="">
                        </div>
                        <h6 class="d-blue bold">Source Code Review</h6>
                        <p>
                        Source code reviews (Go, Java, PHP) allow you to find potentially vulnerable code paths otherwise difficult to find during assessments.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="about-us-area trial-bg section-padding-100 clearfix" id="contact">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6 col-sm-12">
                    <img src="/img/contact.png" alt="" class="img-responsive d-none d-sm-block d-xs-block">
                </div>
                <div class="col-12 col-lg-6 col-sm-12">
                    <div class="who-we-contant mt-s">
                        <div class="top-sec-h wow fadeInUp" data-wow-delay="0.2s">
                        Let's talk!
                        </div>
                        <h4 class="w-text fadeInUp" data-wow-delay="0.3s">
                        Contact us to discuss todays challenges of your company and what we can do to help you conquer them.
                        </h4>

                        <a class="btn info-btn mt-30 mt-sm-15 ml-15 text-white" href="mailto:hello@venclave.com">
                            <i class="fa fa-envelope mr-2"></i>
                            contact
                        </a>
                    </div>
                        
                </div>
            </div>
        </div>
    </section>

    <div class="clearfix"></div>
        
    {{ partial "footer.html" . }}

</body>

</html>